<style>
    /*.bf-116 {
        height:300px;
    }*/
    .bf-116__decor {
        min-height:252px;
    }

  /*  .bf-116__content {
        padding-bottom:0px;
    }*/
</style>
<aside>
    <!-- НАЧАЛО Widget -->
    <div class="pb-5">
        <script src="https://pos.gosuslugi.ru/bin/script.min.js"></script>
        <div>
            <div id="js-show-iframe-wrapper">
                <div class="pos-banner-fluid bf-116" style="flex-direction:column;">

                    <div class="bf-116__content">
                        <div class="bf-116__description">
                            <span class="bf-116__text">
                                Проблемы с полисом ОМС?
                            </span><span class="bf-116__text bf-116__text_small">
                                Напишите, чтобы получить ответ от фонда ОМС
                            </span>
                        </div>
                        <div class="bf-116__bottom-wrap">
                            <div class="bf-116__btn-wrap">
                                <button class="pos-banner-btn_2" type="button">
                                    Написать
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="bf-116__decor">
                        <div class="bf-116__logo-wrap">
                            <img class="bf-116__logo"
                                 src="https://pos.gosuslugi.ru/bin/banner-fluid/gosuslugi-logo-blue.svg"
                                 alt="Госуслуги" />
                            <div class="bf-116__slogan">Решаем вместе</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script>Widget("https://pos.gosuslugi.ru/form", 354207)</script>
    </div>
    <!-- КОНЕЦ Widget -->
</aside>
