<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/css/reset.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="~/lib/summernote/jquery-3.4.1.slim.min.js"></script>

    <link href="~/lib/summernote/summernote-lite.css" rel="stylesheet" />
    <script src="~/lib/summernote/summernote-lite.js"></script>

    <script src="~/lib/summernote/lang/summernote-ru-RU.js"></script>
</head>
<body class="body_content">

    <div id="header" class="container-fluid m-0 p-0">
        <div class="logo_bg">
            <a href="/">
                <img src="~/images/web/logo_new1.png" alt="Логотип ТФ ОМС РИ" title="Логотип ТФ ОМС РИ" />
                ТЕРРИТОРИАЛЬНЫЙ ФОНД<br /> ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО<br /> СТРАХОВАНИЯ РЕСПУБЛИКИ ИНГУШЕТИЯ
            </a>
        </div>

        @*<nav class="navbar navbar-bg-color text-light navbar-expand-lg bg-body-tertiary">*@
        <nav class="navbar text-light navbar-expand-lg bg-primary-gradient">
            <div class="container-fluid">
                <a class="navbar-brand ms-5" href="/">
                    <img src="~/images/web/home-icon.png" alt="На главную" title="Главная" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-inline-flex" id="navbarSupportedContent">
                    @*<partial name="_TopMenu" />*@
                    <partial name="_TopAdminMenu" />
                </div>
            </div>
        </nav>
    </div>

    <main>
        <div class="container-fluid m-0 p-0 mt-4">
            @RenderBody()

        </div>
    </main>

    <footer id="footer" class="text-center pb-2">
        <hr />
        <p><strong>&copy; @DateTime.Now.Year - ТФ ОМС РИ. Все права защищены.</strong></p>
    </footer>


    @RenderSection("Scripts", required: false)
</body>
</html>
