@model BaseModel
<ul class="navbar-nav text-light me-auto mb-2 mb-lg-0">    
    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            О фонде
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/2/direkcija.html")>Дирекция</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/3/struktura-territorialnogo-fonda-oms-resp.html")>Организационная структура</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/459/doklady-otchety-obzory-statisticheskaja-/otchety-o-dejatelnosti-tfoms-ri.html")>Отчеты о деятельности</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/5/grafik-priema-grazhdan.html")>График приема граждан</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/menu/shema-proezda-k-tfoms-ri.html")>Схема проезда</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/4/kontakty.html")>Контакты</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Противодействие коррупции
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/formy-i-blanki.html")>Формы и бланки</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/17/svedenija-o-dohodah-ob-imuschestve-i-obj.html")>
                    Сведения о доходах, об имуществе и обязательствах имущественного характера
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/metodicheskie-rekomendacii.html")>
                    Методические рекомендации
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>                
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/normativnye-pravovye-i-inye-akty-v-sfere-tfoms-ri.html")>
                    Локальные правовые и иные акты в сфере противодействия коррупции
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/normativnye-pravovye-i-inye-akty-v-sfere.html")>
                    Нормативные правовые и иные акты в сфере противодействия коррупции
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/doklady-otchety-obzory-statisticheskaja-.html")>
                    Доклады, отчеты, обзоры, статистическая информация
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ОМС Ингушетии
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/7/strahovye-medicinskie-organizacii-ingush.html")>
                    Страховые медицинские организации Ингушетии
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/6/medicinskie-organizacii-ingushetii.html")>
                    Медицинские организации Ингушетии
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/normativnye-dokumenty.html")>
                    Нормативные документы
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/3008/reestr-vrachei-yekspertov.html")>
                    Реестр врачей экспертов
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Защита прав граждан
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/47/sistema-oms-obschie-polozhenija.html")>
                    Система ОМС. Общие положения
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item"  href=@($"{Model.SiteUrl}/48/osnovnye-voprosy-organizacii-sistemy-oms.html")>
                    Основные вопросы организации системы ОМС
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/49/polis-objazatelnogo-medicinskogo-strahov.html")>
                    Полис обязательного медицинского страхования
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/50/prava-grazhdan-v-sisteme-oms.html")>
                    Права граждан в системе ОМС
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/51/o-porjadke-rassmotrenija-obraschenii-gra.html")>
                    О порядке рассмотрения обращений граждан в Федеральном фонде ОМС
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/52/o-porjadke-rassmotrenija-obraschenii-gra-52.html")>
                    О порядке рассмотрения обращений граждан в Территориальном фонде ОМС
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/53/o-dejatelnosti-mezhregionalnogo-koordina.html")>
                    О деятельности Межрегионального Координационного Совета по организации защиты прав граждан в системе ОМС
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/54/kak-deistvovat-v-trudnoi-situacii-istori.html")>
                    Как действовать в трудной ситуации? Истории из жизни застрахованных
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/55/kontrol-obemov-srokov-kachestva-i-uslovi.html")>
                    Контроль объемов, сроков, качества и условий предоставления медицинской помощи по ОМС
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/2302/strahovye-predstaviteli-v-sisteme-oms-re.html")>
                    Страховые представители в системе ОМС Республики Ингушетия
                </a>
            </li>
        </ul>
    </li>

    <!-- Раздел меню СЕРВИСЫ ДОБАВИЛ 22.07.2025  -->
    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Сервисы        
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=@($"{Model.SiteUrl}/56/zajavka-smo-na-uchastie-v-sisteme-oms.html")>
                    Заявка СМО на участие в системе ОМС
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/57/zajavka-medicinskoi-organizacii-na-uchas.html")>
                    Заявка медицинской организации на участие в системе ОМС
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" href=@($"{Model.SiteUrl}/58/zajavlenie-na-poluchenie-zamenu-polisa-o.html")>
                    Заявление на получение (замену) полиса ОМС
                </a>
            </li>
        </ul>
    </li>
</ul>
