<ul class="navbar-nav">
    <li>
        <a class="navbar-brand ms-5">
            <img src="~/images/edit.gif" alt="Вход" title="Вход" />
        </a>
    </li>
    <li>
        <a class="navbar-brand ms-5">
            <img src="~/images/help.gif" alt="Вход" title="Вход" />
        </a>
    </li>
    <li>
        <a class="navbar-brand ms-5">
            <img src="~/images/enter-icon.png" alt="Вход" title="Вход" />
        </a>
    </li>
</ul>

