<ul id="topmenu" class="navbar-nav text-dark flex-grow-1">
    @*МЕНЮ И ПОДМЕНЮ*@
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="~/images/menu.png" />Меню
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"><img src="~/images/add.png" />Добавить пункт меню</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"><img src="~/images/add.png" />Создать меню</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"><img src="~/images/list.png" />Показать все</a></li>
        </ul>
    </li>

    @*РАЗДЕЛЫ И СТАТЬИ*@
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="~/images/content.png" />Каталог статей
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item">
                    <img src="~/images/content.png" />Разделы и статьи
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/add.png" />Создать раздел
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/add.png" />Создать статью
                </a>
            </li>
        </ul>
    </li>

    @*ПОЛЬЗОВАТЕЛИ*@
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="~/images/users.png" />Пользователи
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item">
                    <img src="~/images/user.png" />Пользователи
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/banlist.png" />Бан-лист
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/users.png" />Группы пользователей
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/add.png" />Создать пользователя
                </a>
            </li>
        </ul>
    </li>

    @*НАСТРОЙКИ САЙТА И СИСТЕМЫ*@
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="~/images/config.png" />Настройки
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item">
                    <img src="~/images/config.png" />Настройки сайта
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/repairnested.png" />Проверка деревьев
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item">
                    <img src="~/images/cron.png" />Задачи CRON
                </a>
            </li>
        </ul>
    </li>

</ul>
