<ul id="loginmenu" class="navbar-nav text-dark">
    <li class="nav-item">
        <a class="nav-link">
            <img src="~/images/edit.gif" alt="Вход" title="Вход" />
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            <img src="~/images/add.gif" alt="Вход" title="Вход" />
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link">
            <img src="~/images/enter-icon.png" alt="Вход" title="Вход" />
        </a>
    </li>
</ul>

