@model BaseModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Админ-панель ТФОМС РИ";
}
@{
    <div class="row mh-100">
        <div class="col-12">
            <h1>Welcome Admin page</h1>
            <div id="summernote"></div>
        </div>
    </div>    
}