@model BaseModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Админ-панель ТФОМС РИ";
}
@{
    <div class="row mh-100">
        <div class="col w-auto mx-5">
            <h1>Админская панель</h1>
            <div id="summernote1"></div>
            <h2>Вторая админская панель!</h2>
            <div id="summnernote2"></div>
            <script>
                $(document).ready(function () {
                    $('#summernote1').summernote({
                        lang: 'ru-RU',
                        placeholder: 'Здесь находится ваш контент',
                        tabsize: 2,
                        height: 120,
                        fontNames: ['Arial', 'summernote', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana', 'CustomWebFont'],
                        fontSizes: ['11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'underline', 'clear', 'fontname', 'fontsize']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'video']],
                            ['view', ['codeview', 'help']]
                        ]
                    });
                    $('#summernote2').summernote({
                        lang: 'ru-RU',
                        placeholder: 'Здесь находится ваш контент',
                        tabsize: 2,
                        height: 120,
                        fontNames: ['Arial', 'summernote', 'Comic Sans MS', 'Courier New', 'Helvetica', 'Impact', 'Lucida Grande', 'Tahoma', 'Times New Roman', 'Verdana', 'CustomWebFont'],
                        fontSizes: ['11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'underline', 'clear', 'fontname', 'fontsize']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'video']],
                            ['view', ['codeview', 'help']]
                        ]
                    });
                });
            </script>
        </div>
    </div>
}