@model BaseModel
@{
    ViewData["Title"] = "Админ-панель ТФОМС РИ";
}
@{
    <div class="row mh-100">
        <div class="col-12">
            <h1>Админ-панель для ИСМАИЛА</h1>
            <h1>Авторизоваться</h1>
            <div id="summernote"><p>Hello Summernote</p></div>
        </div>
    </div>
   
}
